*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/* blocco1 */
.tablet{
  display: inline-block;
  position:relative;
}

#foto1{
  height: 200px;
  width: 200px;
}

.iPhone #cuore :hover{
  display: run-in;
}


.sconto30{
  background-color: green;
  position: absolute;
  top:0;
  right: 0;
}

.cuore
{
  position: absolute;
  top: 180px;
  left: 90px;
  display: none;
}

.cuore:hover{
  display: run-in;
}

#cuore{
  width: 10px;
  height: 10px;
}
/* Blocco2 */
.iphone{
  display: inline-block;
  position:relative;
}
#foto2{
  height: 200px;
  width: 200px;
}

.sconto5{
  background-color: red;
  position: absolute;
  top:0;
  right: 0;
}
/* blocco3 */
.cuffia{
  position: relative;
  display: inline-block;
}
#foto3{
  height: 200px;
  width: 200px;
}

/* blocco 2 */
.bloccosecondo{
  margin-top: 20px;
}

.tablet2{
  display: inline-block;
  position:relative;
}

.iphone2{
  display: inline-block;
  position:relative;
}

.cuffia2{
  display: inline-block;
  position:relative;
}
