*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/* blocco1 */
.prodotto{
  display: inline-block;
  position:relative;
  height: 300px;
}

img{
  display: block;
  height: 300px;
  width: 300px;
}

.prodotto:hover .cuore{
  display: block;
}


.sconto30{
  background-color: green;
  position: absolute;
  top:0;
  right: 0;
}

.cuore
{
  position: absolute;
  color: red;
  bottom: 10px;
  left: 140px;
  display: none;
  z-index: 999;
}


#cuore{
  width: 10px;
  height: 10px;
}


.sconto5{
  background-color: red;
  position: absolute;
  top:0;
  right: 0;
}


/* blocco 2 */
.bloccosecondo{
  margin-top: 20px;
}
